body{
    background-image: url(TORRE.jpg);
    background-position: center;
    color: #fff;
}
.container{
    background-image: url(cardo);
    background-size:  cover;
    background-position: center;
    border-radius: 10px;
}
.btn{
    background-color: #A31D1D;
    color: #fff;
    border-radius: 10px;
}
.btn:hover{
    background-color: #EB5B00;
    color: #fff;
}