body{
    /* background-image: url(TORRE.jpg); */
    /* background-image: url(./sky\ love\ GIF.gif); */
    background-size:  cover;
    background-position: center;
    color: #000000;
}
.container{
    /* background-image: url(cardo); */
    /* color: #ffffff; */
    /* background-color: #0000003f; */
    background-size:  cover;
    background-position: center;
    border-radius: 10px;
}
.btn{
    background-color: #A31D1D;
    color: #fff;
    border-radius: 10px;
}
.btn:hover{
    background-color: #EB5B00;
    color: #fff;
}
